@Styles.Render("~/Setting/css")
<div class="div-01">
    <div class="input-group ">
        <form>
            <input type="search" class="form-control search-01"
                   placeholder="Serach Documents..">
        </form>
        <button class="button-01">
            <span class="material-symbols-outlined">
                search
            </span>
        </button>
    </div>
</div>
<div class="div-02">sa</div>
<div class="div-03">skd</div>
<div class="div-04">as</div>
<div style="clear:both;"></div>
